:root{
    --fundo: green;
    --itens: hotpink;
    --bordas: blue;   
}
body{
    display: grid;
    grid-template-areas: 'header header header' 'nav section aside' 'footer footer footer';
}
header{
    background-color: var(--itens);
    grid-area: header;
}
nav{
    background-color: var(--fundo);
    grid-area: nav;
}
section{
    background-color: var(--bordas);
    grid-area: section;
    display: grid;
    grid-template-columns: 70% 30%;
}
section h1{
    grid-column: 1/span2;
}
article{
    background-color: var(--fundo);
}
aside{
    background-color: orange;
    grid-area: aside;
}
footer{
    background-color: var(--itens);
    grid-area: footer;
}