.titulo-pagina{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #47ADEA;
}
