{% extends 'main.html' %}
{% block content %}

<form class="col-6 mt-4 m-auto" method='post' action="/store/" >
    {% csrf_token %}

    {% if msg %}
        <div class="alert {{class}}">{{msg}}</div>
    {% endif %}

    <input class="form-control mt-4" type="text" name="name" id="name" placeholder="Digite o seu nome">
    <input class="form-control mt-4" type="text" name="user" id="user" placeholder="Digite o user">
    <input class="form-control mt-4" type="password" name="password" id="password" placeholder="Digite a senha">
    <input class="form-control mt-4" type="password_conf" name="password_conf" id="password_conf" placeholder="Digite novamente a senha">
    <input class="form-control mt-4" type="email" name="email" id="email" placeholder="Digite o email">
    <input class="btn btn-primary mt-4" type="submit" value="Cadastrar">

</form>

{% endblock %}